:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #212529;
  background-color: #f5f5f5;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* remove centring for body */
body {
  margin: 0;
  min-height: 100vh;
}

/* links */
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* layout-wrapper */
.app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header and navbar */
.app-header {
  background-color: #0d6efd; /* matcher Bootstrap primary */
  color: white;
  padding: 0.75rem 1.5rem;
}

/* main */
.app-main {
  flex: 1;
  padding: 1.5rem;
}

/* Footer */
.app-footer {
  padding: 0.75rem 1.5rem;
  text-align: center;
  font-size: 0.875rem;
  color: #6c757d;
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
}
